#body {
  background-color: lightblue
}

.country {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  color: purple;
}

.header {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  color: yellow;
}
